@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1960' height='1280' preserveAspectRatio='none' viewBox='0 0 1960 1280'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1245%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c1147 C 130.8%2c1033.8 392.4%2c627.6 654%2c581 C 915.6%2c534.4 1046.8%2c942.8 1308%2c914 C 1569.2%2c885.2 1829.6%2c532.4 1960%2c437L1960 1280L0 1280z' fill='rgba(30%2c 41%2c 59%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1245'%3e%3crect width='1960' height='1280' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.card {
    color: white;
    background-color: rgba(30, 41, 59, 1);
}

.detailedText {
    color: cyan;
}

.my-card {
    background-color: rgba(30, 41, 59, 1);
    color: white;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(30, 41, 59, 1);
}

.my-card-text {
    color: red;
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
